<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.takizawa.lei.charactermemo2">

    <application
            android:name=".RealmMemoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="characterMemo2"
            android:roundIcon="@drawable/aicon_character_memo2"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ReMemoActivity"></activity>
        <activity android:name=".DisplayActivity"></activity>
        <activity android:name=".InformationActivity"></activity>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>